<div ng-controller="CatalogItemCtrl" ng-init="init()">
	All catalog item
	<br>
	<li ng-repeat="catalogItem in $parent.catalog.allItems">
	  <span ng-click="selectedItem(catalogItem)">
	  	<span ng-repeat="catFields in $parent.allFields">
	  		<span ng-if="catalogItem.valuesSingle != null">
				{{catalogItem.valuesSingle[catFields.id]}}
			</span>
			<span ng-if="catalogItem.valuesMulti != null">
				{{catalogItem.valuesMulti[catFields.id]}}
			</span>
		</span>
		<input class="btn-primary" type="button" value="Delete" ng-click="delItem(catalogItem)">
	  </span>
	</li>
	
	<br>
	<span>
		<span ng-if="paging && paging.allowFirst">First</span>
		<span ng-repeat="pageNumber in $parent.pageNumbers">
			<href ng-click="$parent.pagingItems(pageNumber)">{{pageNumber}}</href>
		</span>		
		<span ng-if="paging && paging.allowLast">Last</span>
	</span>
	<br>
	
	<input class="btn-primary" type="button" value="Add new item" ng-click="addCatItem()">
	<!-- generate dynamic catItem form -->
	<script type="text/ng-template" id="subSysTree.html">
		<span ng-style="subSysIndex == selectedSubSys && {'background-color': 'red'}">
			<href  ng-click="$parent.loadSubSysCat(subSysIndex)">{{subSysIndex.name}}</href>
		</span>
		<ul ng-if="subSysIndex.allSubCatalogs">
		    <li ng-repeat="subSysIndex in subSysIndex.allSubCatalogs" ng-include="'subSysTree.html'"></li>
		</ul>
	</script>
	<ul ng-if="$parent.subSysCat">
		<li ng-repeat="subSysIndex in $parent.subSysCat" ng-include="'subSysTree.html'"></li>
	</ul>

	<form ng-if="catalogItem"> <!-- && catalogItem.branchName -->
		Branch Name:
		<input type="text" ng-model="catalogItem.branchName"  size="30" placeholder="add branch name here" />
		<li ng-repeat="catFields in $parent.allFields">
			<span>
				{{catFields.name}}
				<span ng-if="catFields.fieldType == 'Text_ID'">
					<input type="text" ng-model="catalogItem.valuesSingle[catFields.id]"  size="30" placeholder="add {{catFields.name}} here" />
				</span>
				<span ng-if="catFields.fieldType == 'Text_Name'">
					<input type="text" ng-model="catalogItem.valuesSingle[catFields.id]"  size="30" placeholder="add {{catFields.name}} here" />
				</span>
				<span ng-if="catFields.fieldType == 'Text_Desc'">
					<input type="text" ng-model="catalogItem.valuesSingle[catFields.id]"  size="100" placeholder="add {{catFields.name}} here" />
				</span>
				<span ng-if="catFields.fieldType == Boolean">
					
				</span>
				<span ng-if="catFields.fieldType == Int">
					
				</span>
				<span ng-if="catFields.fieldType == Decimal">
					
				</span>
			</span>
		</li>
		<input class="btn-primary" type="button" value="Save" ng-click="saveCatItem()">
	</form>
	
</div>