<script type="text/ng-template" id="sysCatTree.html">
	<span
	ng-style="selectedSysCatId == catalogIndex.id && selectedSysCatId.length == catalogIndex.id.length && {'background-color': 'red'}"
	ng-click="changeSelectSysCat(catalogIndex)"
	>
		<input class="btn-primary" type="radio"
			ng-model="selectedSysCatId"
			ng-value="catalogIndex.id"
			ng-click="changeSelectSysCat(catalogIndex)"
		>
		{{catalogIndex.name}}
	</span>
	<ul ng-if="catalogIndex.allSubCatalogs">
		<li ng-repeat="catalogIndex in catalogIndex.allSubCatalogs" ng-include="'sysCatTree.html'">
		</li>
	</ul>
</script>

<div id="rootDiv" ng-init="init(true)">
	<ul>
	  <li ng-model="catalogIndex" ng-include="'sysCatTree.html'"></li>
	</ul>
	
	<br>
	
	<div ng-include src=" '/smartpad/partials/catalogItem.html' "></div>
</div>