<div>  
  Welcome {{user.userNameText}} !!!
</div>
<br>
<div>
<div id="items-list-header" ng-model="template">
	<div class="item-header" ui-sref-active="on" ui-sref="defaults.catalog"><a href=""> Catalog </a></div>
	<div class="item-header" ui-sref-active="on" ui-sref="defaults.branch"><a href=""> Branch </a></div>
	<div class="item-header" ui-sref-active="on" ui-sref="defaults.catalogItem"><a href=""> Catalog Item </a></div>
</div>
<br>

 <div ui-view class="container slide" style="padding-top: 80px;"></div>
</div>
